@model StatDataViewModel

<div class="col-lg-4">
    <p>Режим: @Model.GameModeName</p>
    <p>Время: @Model.Time</p>
    <p>Верные ответы: @Model.CorrectAnswers</p>
    <p>Неверные ответы: @Model.WrongAnswers</p>
    <p>Соотношение: @Model.SuccessRate</p>
</div>
